.container-itemCart{
    background-color: white;
}
.itemCart{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    background-color: white;
    border-bottom: 1.5px solid rgba(136, 135, 135, 0.104);
   
}

.information-itemCart{
    display: flex;
    align-items: center;
    width: 60%;
}
.image-itemCart{
    height: 150px;
    margin: 15px 10px 0 10px;
    min-width: 40%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.image-itemCart img{
    height: 60px;
    object-fit: contain;

}
.information-itemCart .description-itemCart{
    display: flex;
    flex-direction: column;
    align-items: start;
    width: 80%;
}

.description-itemCart span{
    font-family: "Poppins", sans-serif;
    font-size: 0.85em;
}
.description-itemCart .name-ItemCart{
    display: flex;
    justify-content: start;
    align-items: start;

}
 .description-itemCart .name-ItemCart span{
    font-weight: bolder;
    text-align: start;
    
}
.description-itemCart .brand-itemCart span{
    color:#7f858d;
}
.description-itemCart .price-itemCart span{
    font-weight: bolder;
    color: #7f858d;
}

.functions{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    gap: 10px;
    margin-top: 15px;
    width: 20%;
}

.functions .spanQuantity span{
    font-family: 'Poppins', sans-serif;
    font-size: 15px;
}

.functions .updateQuantity{
    display: flex;
    justify-content: center;
}
.functions .updateQuantity span{
    font-family: 'Poppins', sans-serif;
    font-weight: bolder;
    font-size: 1em;
}

.value-itemCart{
    width: 50%;
}
.value-itemCart span{
    font-family: "Poppins", sans-serif;
    font-weight: bolder;
    color: #327CAD;
}
